apiVersion: karpenter.k8s.aws/v1beta1
kind: EC2NodeClass
metadata:
  name: default
spec:
  role: "{{ .Values.iamRoleName }}"
  amiFamily: Bottlerocket
  subnetSelectorTerms:
    - tags:
        karpenter.sh/discovery/"{{ .Values.clusterName }}": "{{ .Values.clusterName }}"
  securityGroupSelectorTerms:
    - tags:
        karpenter.sh/discovery/"{{ .Values.clusterName }}": "{{ .Values.clusterName }}"
  tags:
    karpenter.sh/discovery/"{{ .Values.clusterName }}": "{{ .Values.clusterName }}"
